
<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="users" class="mat-elevation-z8 demo-table" (matSortChange)="announceSortChange($event)">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef> Picture </th>
      <td mat-cell *matCellDef="let element"> <img src="{{element.picture.thumbnail}}" alt="picture" style="border-radius: 50%;"> </td>
    </ng-container>

    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Full name </th>
      <td mat-cell *matCellDef="let element"> {{element.name.firstName[0] + element.name.lastName[0]}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by age"> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="gotoItems(row)"></tr>
  </table>

  <mat-paginator [length]="(maxPage+1) * resultCount"
                 pageSize="{{resultCount}}"
                 (page)="onPageChange($event)"
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

